[Unit]
Description=Systemd Nvidia Entry
Before=graphical-session.target

[Service]
Type=idle
ExecStart=/opt/Systemd-Nvidia-Entry/config-optimus.sh

[Install]
WantedBy=multi-user.target
